.mykeyword{
    width: 50px;
}
.myvalue{
    width: 50px;
}

.link{
    padding:50px;
}

.MyProfile{
    background-color:lightblue;
}
/*.introduce{*/
/*    background: white;*/
/*    margin : 60px;*/
}.i{
    color: cornflowerblue;
 }