<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>이력서</title>
  <link rel="stylesheet" href="/css/example-style.css">
</head>
<body>
<table>
  <caption>
    <b>이 력 서</b>
    <p>새로운 길을 개척중인 개발자</p>
  </caption>
  <tr>
    <th rowspan="2"><img src="/img/pengsoo.PNG" width="100" height="100"></th>
    <th> 이 름 </th>
    <td> 이 창 훈 </td>
  </tr>
  <tr>
    <th> 연 락 처 </th>
    <td> 010-xxxx-xxxx </td>
  </tr>
  <tr>
    <td colspan="3"><span style="background-color:greenyellow">Java</span>,
      <span style="background-color:greenyellow">SpringBoot</span>,
        <span style="background-color:greenyellow">Vue</span> 등을 기반으로 웹개발 학습 중</td>
  </tr>
  <tr>
    <td colspan="3"><span style="background-color:greenyellow">gitHub를 사용</span>하여 협업 개발</td>
  </tr>
  <tr>
    <th>한 줄 목표</th>
    <td colspan="2">
      <span style="background-color:greenyellow">재사용성이 높은 코드 개발</span>로 작업의 효율을 더 높게!
    </td>
  </tr>
</table>
</body>
</html>