<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>포트폴리오</title>
    <link rel="stylesheet" href="/css/resume-design.css">
</head>
<body>
    <table>
        <caption>
            <b><h1>이력서</h1></b>
            <p><h3>SOLID하고 우아한 코드를 설계하는 백엔드 개발자. 진건오 입니다.</h3></p>
        </caption>

        <tr>
            <th>
                <img src="/img/프로필.webp">
            </th>
            <td>
                <ul>
                    <li class="listItem">안녕하세요! 항상 우아한 코드를 설계하기 위해 노력하는 개발자 진건오입니다!</li>
                    <li class="listItem">새로운 것을 배우는 걸 좋아하다보니 개발이라는 것에 <br>
                        매력을 느껴 시작하게 되었습니다.</li>
                    <li class="listItem">기록의 중요성을 깨닫고 하루하루 배운 내용들을 되도록 매일 기록하려 노력하고 있습니다.</li>
                    <li class="listItem">또한 프로그램 설계시 애자일 프로세스를 어떻게 잘 활용해야 할지,<br>
                        또 어떻게 우아한 코드를 작성할지에 대해 항상 고민하며 설계하고 있습니다.</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td class="solidDesign" colspan="2">
                <h3>&nbsp;📚기록 활동</h3>
                <ul>
                    <li>
                        깃허브 : <a href="https://github.com/Geon-o">https://github.com/Geon-o</a>
                    </li>
                </ul>
            </td>
        </tr>

        <tr>
            <td colspan="2">
                <h3>&nbsp;💻개발 기술</h3>
                <div class="solidDesign">
                    <h3>&nbsp;&nbsp;-BackEnd-</h3>
                    <h4>&nbsp;&nbsp;&nbsp;&nbsp;Java</h4>
                    <ul>
                        <li>
                            아직 프로젝트 경험은 없지만 Java 언어를 활용하여 간단한 프로그램 정도 설계가 가능합니다.<br>
                            하지만 아직도 많이 부족한 것 같아 계속해서 학습중입니다.
                        </li>
                    </ul>
                    <h4>&nbsp;&nbsp;&nbsp;&nbsp;Spring</h4>
                    <ul>
                        <li>
                            Spring에 대해 학습중입니다. 가장 대중적인 프레임워크이기도 하며, 스프링의 주요 특징인 <b>IOC</b>와 <b>DI로</b> 인해<br>
                            높은 퀄리티의 프로그램을 개발할 수 있기때문에 해당 프레임워크에 대해 학습중입니다.
                        </li>
                    </ul>
                </div>

                <div class="solidDesign">
                    <h3>&nbsp;&nbsp;-FrontEnd-</h3>
                    <h4>&nbsp;&nbsp;&nbsp;&nbsp;Vue.js</h4>
                    <ul>
                        <li>
                            Vue를 학습중입니다. FrontEnd 프레임워크 중에서 React보다 사용자 수가 적지만 <br>
                            결과물을 보았을 때 같은 결과물을 나타낸다는 것과 HTML 렌더링하는 시간이 Vue가 더 빠르고,<br>
                            또한 사용하는데에 어려움이 없기 때문에 Vue에 대해 학습 중입니다.
                        </li>
                    </ul>
                </div>

                <div class="solidDesign">
                    <h3>&nbsp;&nbsp;-Development Design Process-</h3>
                    <h4>&nbsp;&nbsp;&nbsp;&nbsp;애자일 프로세스</h4>
                    <ul>
                        <li>
                            폭포수 모델로 설계를 하여 개발하게 될 경우 도중에 문제가 발생하면 변경이 어렵지만,<br>
                            애자일 프로세스를 변경에 유연하여 설계도중에 발생하는 문제에 대해<br>
                            처리할 수 있어 애자일 프로세스에 대해 학습중입니다.
                        </li>
                    </ul>
                </div>
            </td>
        </tr>

        <tr>
            <td colspan="2">
                <h3>&nbsp;👩‍💻프로젝트 활동</h3>
                <div class="solidDesign">
                    <ul>
                        <li>아직 프로젝트 경험이 없습니다. 추후 프로젝트를 진행한다면 작성하려합니다.</li>
                    </ul>
                </div>
            </td>
        </tr>

        <tr>
            <td colspan="2">
                <h3>🧾자격증</h3>
                <div class="solidDesign">
                    <ul>
                        <li class="listItem">리눅스 마스터 2급</li>
                        <li class="listItem">정보처리기사(실기 준비중)</li>
                    </ul>
                </div>
            </td>
        </tr>
    </table>
</body>
</html>