<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table, th, td {
            border: 1px solid #ccc;
        }
        td {
            padding: 10px;
        }
    </style>
</head>
<body>
<table>
    <caption>
        <b><h2>정확한 커뮤니케이션, 애자일 프로세스를 기반한 유연한 코드 개발자</h2></b>
        <p>학습하고 있는 개발자 김소연입니다.</p>
    </caption>
    <tr>
        <th><img src="/img/simpleprofile.jpg" width="200" height="250"></th>
        <td><p><strong>김소연</strong></p>
            <p>shimmer326@gmail.com</p>
            <p>010-6542-8958</p>
            <a href="https://github.com/soyeonkim96/Homework">github</a>
        </td>
    </tr>
    <tr>
        <th>OBJECTIVE</th>
        <td>Java & Spring 기반의 개발자를 목표로 교육에 참여했습니다.<br>
            현재까지 주로 Java, Python 언어를 학습하고 이를 활용하는 방법을 학습해왔습니다.<br>
            향후 프로젝트 진행시 변경에 유연하게 대응하기 위해 애자일 프로세스를 기반으로 프로젝트를 만드는 과정을 학습하고 있습니다.<br>
            React와 Vue를 학습할 예정입니다.<br>
        </td>
    </tr>

    <tr>
        <td colspan="2">


        </td>
    </tr>

    <tr>
        <th>PROJECT</th>
        <td><p>아직 팀 프로젝트에 들어가지 않았기에 어떻게 임할 것인지 위주로 쓰겠습니다.</p>
            팀 프로젝트는 다수가 함께하는 작업이기 때문에 <strong>원활한 의사소통</strong>을 중시하겠습니다.<br>
            다른 사람과 공유하는만큼 코드 리뷰가 수월하도록 <strong>남을 위한 코드</strong>를 만들겠습니다. 코드의 네이밍, 주석 모두 처음 접하더라도 읽기 수월하도록 명확하게 작성하며 길어지는 코드는 함수로 만드는 습관을 가지고
            자주 사용하는 코드는 재사용성이 가능하도록 고려하겠습니다. </td>
    </tr>

</table>

</body>
</html>