<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table, th, td{
            border: 1px solid #ccc;
        }
        td {
            padding: 5px;
        }
    </style>
</head>
<body>

<!--
table: 표, tr: table row(행), td(열), th(열- 제목 및 헤더 역할)
<tr>은 1개 가로줄 의미 -> 여기 테이블은 2 x 3 테이블 만들어짐
<th> 는 글씨가 진하게/가운데 정렬, <td>는 글씨 일반 굵기/ 정렬안되어 있음 로 출력됨
 -->

    <table>
        <tr>
            <th> row1 column </th>
            <td> row2 column </td>
            <td> row3 column </td>
        </tr>

        <tr>
            <th> test1 </th>
            <td> test2 </td>
            <td> test3 </td>
        </tr>

    </table>
</body>
</html>