<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        img {
            border: 1px solid #ccc; /*solid 실선 */
        }

        figure {
            display: inline-block; /*보편적으로 가장 많이 사용함 블록과 인라인이 적당히 합쳐짐*/
           /* display: block; 지 혼자서 한 줄 전체를 차지함
            display: inline; 다른 녀석들과 혼성되어 나란히 배치됨*/
        }
    </style>
</head>
<body>
<figure>
    <img src="/img/출석체크.png" width="400" height="400">
    <img src="/img/출석체크.png" width="100" height="100">
    <figcation>Hrd넷 출석체크를 위한qr코드 이미지</figcation>
</figure>

</body>
</html>