<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Resume</title>
    <link rel="stylesheet" href="/css/resume-style.css">

</head>
<body>
<table class="myinfo">
    <caption>
        <b>경력있는 신입</b>
        <p>웹디자이너 경력 5년을 바탕으로 웹서비스 이해도가 높은 개발자</p>
    </caption>
    <tr>
        <th>임보경</th>
        <th>1990.05.30</th>
        <th>서울시 마포구</th>
    </tr>
    <tr>
        <th colspan="3">
            JAVA, HTML5, CSS, VUE.js, Mysql
        </th>
    </tr>
</table>

<table>
    <tr>
        <th colspan="3">
            어떤 경험이 있는가?
        </th>
    </tr>
    <tr>
        <td colspan="3">
            지난 5년간 웹디자이너로써 일해온 경력이 있습니다. 웹사이트, 웹 앱 구축 및 유지보수 업무에 참여했습니다.
            규모가 작은 웹에이전시에서 근무했기 때문에 프로젝트 전체 디자인을 혼자서 총괄하여 작업한 경험이 주를 이룹니다.
            또한 제 경력중에 3년은 아모레퍼시픽 오설록 공식사이트의 모든 유지보수는 물론 새로운 서비스 런칭에 참여하거나
            혹은 같이 제안하고 검토하는 업무도 했습니다. <br> <span> </span>
            이러한 경험을 바탕으로 저는 웹서비스가 전반적으로 어떻게 돌아가는지 잘 알고 있으며, 프로젝트를 위해 디자인 팀
            뿐만 아니라 기획, 개발팀과 소통을 한 경험도 잦아 커뮤니케이션을 통해 문제를 해결한 경험도 풍부합니다.
            많은 개발자 직군 중에 웹개발자를 하겠다고 마음 먹은 것도 이러한 경험을 바탕으로 웹서비스에 대한 강력한 이해도가
            제 강점이 될 수 있다고 생각했기 때문입니다.
        </td>
    </tr>
    <tr>
        <th colspan="3">
            개발자로서 나의 장점은?
        </th>
    </tr>
    <tr>
        <td colspan="3">
            이미 많은 프로젝트 미팅을 통해 UX적인 접근으로 기획과 디자인을 한 경험이 있으며, 이를 바탕으로 유저 친화적인
            설계 관점과 애자일 프로세스를 도입한 개발 설계가 가능합니다. <br> <span></span>

            Java spring 이야기 추가 예정 --------------------------<br>
            mysql db 이야기 추가 예정------------------------------<br>
            할수 있는게 없어서 뭐라 할말이 없어요............

        </td>
    </tr>

    <tr>
        <th colspan="3">
            포트폴리오
        </th>
    </tr>
    <tr>
        <td colspan="3">
            주소 추가 예정 <br>
            <a href="https://oval-line-af8.notion.site/Curriculum-Vitae-152411c531244059a191842736001aa1">
                디자이너로서의 나를 보고 싶다면 GO >
            </a>

        </td>
    </tr>
</table>
</body>
</html>