<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>포트폴리오 by soon</title>
    <link rel="stylesheet" href="/css/portfolio.css">
</head>
<body>
<div class="mainbox">
    <div class="title-box">
        <h1>레벨업중인 예비 백엔드 개발자</h1>
        <p class="name-text">김장순 | 94.08.18</p>
        <ul>
            <li>Java & Spring Framework 기반 개발 학습중</li>
            <li>고객과의 협력, 변화에 대응하기 위한 애자일 프로세스 기반 학습중</li>
        </ul>
    </div>
    <section>
        <h2><b>Skills.</b></h2>
        <ul class>
            <li><b>JAVA</b></li>
            <li><b>HTML/CSS</b></li>
            <li><b>Python</b></li>
        </ul>
    </section>
    <section>
        <h2><b>Introduction.</b></h2>
        <ul>
            <li>수평적인 팀원 간의 의사 소통 및 결정 지향</li>
            <li>과제의 코드리뷰를 통하여 클린코드와 리팩토링을 수행</li>
            <li>Zoom을 통해 코드 공유 및 스터디를 지속합니다.</li>
            <li>KH의 스타강사 '<b>이상훈</b>'쌤의 4기 수강생</li>
            <!--쓸 내용이 마땅히 없어서.. 죄송합니다-->
        </ul>

    </section>
    <section>
        <h2><b>Contact.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Channel.</b></h2>
        <div class="float-wrap">
            <p class="contact-text">Email.&nbsp;sxxxxnl@kakao.com</p>
            <p class="channel-text">Blog.&nbsp;https://blog.naver.com/xxxxxx</p>
        </div>
        <div class="float-wrap">
            <p class="contact-text">Phone.&nbsp;010-xxxx-xxxx</p>
            <p class="channel-text">GitHub.&nbsp;https://github.com/xxxxxx&nbsp;&nbsp;&nbsp;</p>
        </div>
    </section>
    <div class="sns-wrap">
        <a href="http://section.blog.naver.com/BlogHome.naver"><img class="sns-image" src="/img/네이버블로그로고.png"></a>
        <a href="https://github.com/"><img class="sns-image" src="/img/깃허브.png"></a>
    </div>
</div>


</body>
</html>