<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table, th, td {
            border: 1px solid #ccc;
        }
        th, td {
            padding: 10px;
        }
    </style>
</head>
<body>
    <table style="border:1px solid black;margin-left:auto;margin-right:auto;">
        <caption>
            <h2>꾸준함의 힘을 가진 개발자, 조안나입니다.</h2>
            <p></p>
        </caption>
        <tr>
            <th colspan="2">
            <h3>About Me</h3>
            </th>
        </tr>
        <tr>
            <th>Introduction</th>
            <td>
                · 안녕하세요! 신입 백엔드 개발자 조안나입니다. <br><br>
                · 초등학생 때부터 지금까지 꾸준히 일기를 쓰며,현재 20권째의 삶의 기록을 쌓아가는 중입니다. <br><br>
                · 꾸준함이 가진 힘을 알기에 개발 공부를 시작하면서 1일 1커밋 운동을 하고 있으며, <br>
                  　블로그를 운영하며 학습의 여정 또한 기록하고 있습니다. <br><br>
                · 애자일 프로세스에 기반한 설계와, SOLID의 SPR 규칙을 지키려 노력합니다. <br><br>
                · 오늘 점 하나 찍은 것이 별거 아닌 것 처럼 느껴지더라도 그 점들이 모여 선을 이룹니다. <br>
                　그 점 하나의 가치와 과정의 아름다움을 알기에 쉽게 지치지 않습니다. <br><br>
            </td>
        </tr>
        <tr>
            <th>Channel</th>
            <td>
                · GitHub : (깃허브 주소) <br>
                · Blog : (블로그 주소)
            </td>
        </tr>
        <tr>
            <th>Contact</th>
            <td>
                · E-mail : (이메일 주소) <br>
                · Phone : (핸드폰 번호)
            </td>
        </tr>

        <tr>
            <th colspan="2">
                <h3>Technology</h3>
            </th>
        </tr>
        <tr>
            <th>Backend</th>
            <td>
                · JAVA <br>
                · Spring Boot <br>
                ·
            </td>
        </tr>
        <tr>
            <th>Frontend</th>
            <td>
                · HTML5, CSS3 <br>
                · <br>
                · <br>
            </td>
        </tr>

        <tr>
            <th colspan="2">
                <h3>Project</h3>
            </th>
        </tr>
        <tr>
            <th>Personal Project</th>
            <td>
                <h3>프로젝트 명</h3>
                · 구현한 것들 <br>
                · 개선한 것들 <br>
                · 참고링크 <br><br>
            </td>
        </tr>
        <tr>
            <th>Team Project</th>
            <td>
                <h3>프로젝트 명1</h3>
                · 구현한 것들 <br>
                · 개선한 것들 <br>
                · 참고링크 <br><br>
                <h3>프로젝트 명2</h3>
                · 구현한 것들 <br>
                · 개선한 것들 <br>
                · 참고링크 <br>
            </td>
        </tr>
        <tr>
            <th colspan="2">
                <h3>Education</h3>

            </th>
        </tr>
        <tr>
            <th>KH 정보교육원</th>
            <td>
                <h3>개발자 양성 기초/심화 교육 과정</h3>
                · 2022.05.16 ~ 2023.01.26<br>
                · HTTP 웹 서버 구현(JAVA/Spring/Vue…)<br>
                ·  <br>
                ·  <br>
            </td>
        </tr>
    </table>
</body>
</html>