<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Portfolio by Suyeon Hong</title>
    <style>
        table, th, td {
            border: 1px solid #ccc;
        }
        td {
            padding: 10px;
        }
    </style>
</head>
<body>
<table>

    <caption>
        <b>젠가처럼 하나씩 쌓아가는 개발자</b>
        <p>성장 도중의 개발자 홍수연 입니다.</p>
    </caption>

    <tr>
        <th>Profile</th>
        <td> 1차적으로는 백엔드 개발자를 지향하고 있지만, 최종적으로는 더 넓은 시야를 가진 개발자가 되고 싶습니다.<br>
        현재까지 java를 학습하였고, 향후 vue를 학습할 예정입니다.</td>
    </tr>

    <tr>
        <th colspan="4">
        </th>
    </tr>

    <tr>
        <th>Project</th>
        <td> 현재까지 팀 프로젝트를 진행한 경험은 없습니다만, 향후 프로젝트 참여시 팀원들과의 협력은 물론<br>
        다른 팀원들이 기댈 수 있을 만한 동료가 될 수 있도록 노력하겠습니다.</td>

    </tr>






</table>
</body>
</html>