<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <style>
    table, th, td {
      border: 1px solid #ccc;
    }

    td {
      padding: 10px;
    }
  </style>
</head>
<body>
<table>
  <caption>
    <b>요즘 이력서 작성법</b>
    <p>좀 괜찮은 회사들은 포폴과 실력을 본다.</p>
  </caption>
  <tr>
    <th>강~조 할 것!</th>
    <td>ㅋㅋㅋㅋㅋ새겨듣자..^^...!</td>
  </tr>
  <tr>
    <td colspan="2">
      후 나도 빨리 돈벌고 싶다!!!! 용산에 집 사야지^^~~!! 더 길게 스면 더 길어지나??(맞음)
    </td>
  </tr>
  <tr>
      <th>플젝이 세상 제일 중요하답니다...</th>
      <td>rgrg...</td>
  </tr>
  <tr>
    <td colspan="2">
      와 5 ~ 7년 하면 1억 찍기 가넝??
    </td>
  </tr>
  <tr>
    <td colspan="2">
      ㅎㅎㅎㅎㅎㅎㅎ현실 쓴소링...
    </td>
  </tr>
</table>
</body>
</html>