<!DOCTYPE html>
<html.lang="ko">
<head>
  <title>Gong pilseok</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="./about-gps.css">
  <style>
    h1{
      color: #ffffff;
    }
    h3{
      color: white;
    }
    body{
      background-image: url("../homework/image/background.png") ;
    }
  </style>
</head>
<body>
<div class="MyProfile" align="center">
  <h1 align="center">공필석 입니다.</h1>
  <div class="ProfilePicture">
    <h3>프로필 사진</h3>
    <img src="../homework/image/profile.png" width="200" height="200">
  </div>
  <br>

  <hr width="60%" color=”gray” noshade />

  <div class="MyInfo" align="center">
    <h3>내 정보</h3>
    <span><b>KH 정보교육원</b></span>
    <span><b>교육중인</b></span>
    <span><b>공필석</b></span>
  </div>
  <br><br>



  <div class="introduce">
    <h3>자기소개</h3>
    <i>KH 정보 교육원에서 교육중 입니다.</i>
    <br><i>KH 정보 교육원에서 교육중 입니다.</i>
  </div>
  <br><br>



  <div class="blabla">
    <h3> have no word</h3>



  </div>
  <br><br>




  <div class="MyLink">
    <a href="https://github.com/">
      <img class=link src="../homework/image/giticon.png" width="50" height="50">
    </a>
    <a href="https://youtube.com/">
      <img class=link src="../homework/image/youtubeicon.png" width="50" height="50">
    </a>
    <a href="https://naver.com">
      <img class=link src="../homework/image/navermail.png" width="50" height="50">
    </a>
    <br><br>
  </div>
</div>
