<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        img{
            border: 1px solid #ccc;
        }
        figure {
            /*display: inline-block; inline과 block 짬뽕*/
            /*display: block; 혼자 한줄차지*/
            /*display: inline; 다른 것들과 섞임*/
        }
    </style>
</head>
<body>
    <h2>img 태그 테스트</h2>

    <figure>
    <img src = "https://modo-phinf.pstatic.net/20180808_10/1533696194221sTPI3_JPEG/mosa3EBiD3.jpeg?type=w1100" width="100" height="100">
    <img src = "https://modo-phinf.pstatic.net/20180808_10/1533696194221sTPI3_JPEG/mosa3EBiD3.jpeg?type=w1100">
    <figcation>얼레얼레 벌레벌레 울랄랄라아오이야잉!!</figcation>
    </figure>
</body>
</html>