<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/checkbox-list.css">
</head>
<body>
    <h3>코스(다중 선택 불가능)</h3>
    <ul>
        <li><input type="radio" name="subject" value="grammer">영문법</li>
        <li><input type="radio" name="subject" value="math">수학</li>
        <li><input type="radio" name="subject" value="web">웹</li>
        <li><input type="radio" name="subject" value="embedded">임베디드</li>
    </ul>

</body>
</html>