<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


</head>
<body>



<form>
  <fieldset>
    <legend> 드롭 다운 메뉴 테스트 </legend>
    <ul>
      <li>
        <label for="subject">신청과목</label>
       <select id = "subject">
         <option value="금융 공학"> Financial Engineering </option>
         <option value="공기 역학"> Are </option>
         <option value="컴퓨터 공학 개론"> Financial Engineering </option>

           <option value="객체 지향설계"> oop </option>



       </select>
      </li>
      <li>
        <label for="satisfy">만족도<small>(1,2,3,4,5)</small></label>
        <input type="range" id="satisfy" value="3" min="1" max="5">
      </li>
    </ul>
  </fieldset>
</form>








</body>
</html>