<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/resume.css">
</head>
<body>
    <table>
        <caption>
            <h3>
                애자일 프로세스를 기반으로 코드 설계를 하는 Java 개발자
            </h3>
            <p>
                Java 풀스택을 희망하는 개발자 김가람입니다.<br>
                저는 현재 국비지원 6개월 과정을 수강중으로 애자일 프로세스를 기반으로 진행하는 코드 설계를 중심으로 학습하고 있습니다.<br>
                항상 일관성있는 코드 설계를 하기 최선을 다 할 것이며,<br>
                동료들과 원만한 의사소통을 통해 효율적으로 업무를 진행할 수 있도록 노력하겠습니다.<br>
            </p>
        </caption>
        <tr>
            <th>성명</th>
            <td>김가람</td>
            <th>연락처</th>
            <td>000-0000-0000</td>
        </tr>
            <th>주소</th>
            <td>OO도 OO시 OO동</td>
            <th>E-mail</th>
            <td>aaa@aaa.com</td>
        </tr>
        <tr>
            <th>Project</th>
            <td colspan="3">
                추후 팀 프로젝트 진행 예정<br>
                팀 프로젝트는 개인이 아닌 팀원들과 진행하는 것으로 원활하게 진행하기 위해서는 팀원들과의 의사소통이 가장 중요하다고 생각합니다.<br>
                성실히 협력하여 팀원들에게 민폐가 되지 않게 열심히 참여하겠습니다.
            </td>
        </tr>
        <tr>
            <th>Education</th>
            <td colspan="3">
                국비지원 6개월 과정 '빅데이터 플랫폼을 활용한 개발자 양성과정' 수강중 (22.05.16 ~ )<br>
                - Java<br>
                - Spring<br>
                - Vue<br>
            </td>
        </tr>
    </table>
</body>
</html>