<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/resume.css">
</head>
<body>
    <table>
        <caption>
            <b>애자일 프로세스를 기반으로 OOP 설계를 학습하고 있는 Java 개발자</b>
        </caption>
        <tr>
            <th>성명</th>
            <td>김가람</td>
            <th>연락처</th>
            <td>000-0000-0000</td>
        </tr>
            <th>주소</th>
            <td>OO도 OO시 OO동</td>
            <th>E-mail</th>
            <td>aaa@aaa.com</td>
        </tr>

        <tr>
            <th>간단한 소개</th>
            <td colspan="3">
                - 국비지원 6개월 과정 '빅데이터 플랫폼을 활용한 개발자 양성과정' 수강중 (22.05.16 ~ )<br>
                - 애자일 프로세스를 기반으로 OOP 설계를 할 수 있도록 Java 학습중<br>
                - 추후 Vue 학습 예정
            </td>
        </tr>
        <tr>
            <th>프로젝트</th>
            <td colspan="3"> 추후 팀 프로젝트 진행 예정</td>
        </tr>

    </table>

</body>
</html>