<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table, th, td {
            border: 1px solid #ccc;
        }
        th, td {
            padding: 10px;
        }
    </style>
</head>
<body>
<table>
    <caption>
        <b>요즘 이력서 작성법</b>
        <p>좀 괜찬은 회사들은 포트폴리오 보고 생애, 학력 같은거 안보고 실력만 봅니다.</p>
    </caption>
    <tr>
        <th> 조금씩 꾸준히 발전할 수 있는 경험 많은 개발자가 되고 싶습니다!</th>
        <td> </td>
    </tr>
    <tr>
        <td colspan="2">
            저의 시스템 개발 역량과 경험을 키워 '4차 산업 혁명'에 걸맞은 인재로 성장하고 싶다는 목표를 세웠습니다.
        </td>
    </tr>
    <tr>
        <td colspan="2">
            그러기 위해 지금은 KH정보교육원에서 주관하는 "빅데이터 플랫폼을 활용한 개발자" 양성과정을 수강중입니다.
        </td>
    </tr>
    <tr>
        <th> 성격의 장단점 및 생활 신조</th>
        <td> </td>
    </tr>
    <tr>
        <td colspan="2">
            제 성격의 장점은 옳고 그른 것을 기준을 잡아 확실히 알 수 있는 판단력입니다.
        </td>
    </tr>
    <tr>
        <td colspan="2">
            개발을 함으로써 제 판단력 능력이 팀워크와 마찬가지로 가장 중요한 능력 중 하나라고 생각하는데 개발을 진행하면서 많은 것들을 배우게 되는데, 물론 모르는 부분이 있으면 먼저 구글링이나 협업툴을 통해 선임분들께 구두로 물어보면서, 그 중에서 저에게 좀 더 좋은 것들을 판단하여 받아 들일수 있는 것을 잘한다고 생각합니다.
        </td>
    </tr>
    <tr>
        <td colspan="2">
            제 성격의 단점은 적응력이 느리고 부족한 부분이 많은 편입니다.
        </td>
    </tr>
    <tr>
        <td colspan="2">
            처음 배우는 개발 언어나 툴 프로그램에 대한 적응력이 느려 다른 사람들보다 개발하는데 더 힘들어지고 피드백을 많이 받는 경향이 있지만, 그래도 저는 한번 하겠다고 마음 먹은 것은 시간이 얼마가 걸리든 끝까지 해야한다는 고집(끈기)가 있어 제 나름대로의 노하우를 통해 단점을 단점만이 아닌 끈질긴 의지력을 장점으로 승화시키고 있습니다.
        </td>
    </tr>
    <tr>
        <td colspan="2">
            제 생활신조는 "초심을 잃지 말자"로 항상 배우고 받아들이는 자세로 한편으로 치우치지 않고 변함없이 겸손한 자세로 지내고 있습니다.
        </td>
    </tr>
    <tr>
        <th>프로젝트가 제일 중요함</th>
        <td>없어도 어디 그지같은 회사는 갈 수 있음</td>
    </tr>
    <tr>
        <td colspan="2">프로젝트 이력은 아직 학원에서 프로젝트를 해본 경험이 없어서 일단 보류해놓았습니다.</td>
    </tr>
    <tr>
        <td colspan="2">일단 제 현재 상황 기준에서는 많은 개발 경험을 쌓아보고 싶어서 SI도 좋고 솔루션 회사도 상관 없습니다.</td>
    </tr>
    <tr>
        <td colspan="2">대신 제가 과정 수료하기 전까지 포기하지 않고 다른 사람들보다 더 노력해서 개발 경험을 쌓는다면 포스코ICT나 티맥스소프트 같은 중견회사를 노려보고 있지만 아직은 많이 부족하기 때문에 초심을 잃지 않고 최선을 다해서 배워볼려고 합니다.</td>
    </tr>
</table>
</body>
</html>

<!-- /resume URL을 던져서 위의 형식으로 자신의 포트폴리오를 기록해보자!(미완성이어도 상관없음) -->