<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <style>
    img {
      border: 1px solid #ccc;
    }
    figure {
      /* 화면 사이즈에 맞춰 이미지가 적당하게 나열되며 보편적으로 가장 많이 사용함  */
      display: inline-block;
      /* 혼자서 한 줄 전체를 차지함. */
      /* display: block; */
      /* 다른 이미지와 혼성되어 나란히 배치됨 */
      /* display: inline; */
    }
  </style>
</head>
<body>
    <h2>img 태그 테스트</h2>
    <figure>
        <img src="/img/mario.png">
        <p>잘 들어갔는가 ?</p>
        <img src="/img/mario.png" width="100" height="100">
        <figcation>슈퍼 마리오</figcation>
    </figure>
</body>
</html>