<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>이력서</title>
  <link rel="stylesheet" href="/css/example-style.css">
</head>
<body>
<table>
  <caption>
    <b>이 력 서</b>
    <p>새로운 길을 개척중인 FullStack 개발자</p>
  </caption>
  <tr>
    <th rowspan="3"><img src="/img/pengsoo.PNG" width="100" height="100"></th>
    <th><img src="/img/profile.PNG" width="20" height="20"> Name. </th>
    <td> 이 창 훈 </td>
  </tr>
  <tr>
    <th><img src="/img/phone.PNG" width="20" height="20"> Phone. </th>
    <td> 010-xxxx-xxxx </td>
  </tr>
  <tr>
    <th><img src="/img/github-logo.PNG" width="20" height="20"> Channel. </th>
    <td> <a href="https://github.com/kookiki91"> https://github.com/kookiki91 </a></td>
  </tr>
  <tr>
    <th>자기소개</th>
    <td colspan="2">비전공이라 아직은 남들보다 한발 뒤에 있지만
        <br>강의 수료 이후에는 한걸음 앞서 있도록 노력하겠습니다.
    </td>
  </tr>
  <tr>
    <th rowspan="2">기술</th>
    <td colspan="2"><span style="background-color:greenyellow"><b>Java</b></span>,
      <span style="background-color:greenyellow"><b>SpringBoot</b></span>,
      <span style="background-color:greenyellow"><b>Vue</b></span> 등을 기반으로 웹개발 학습 중</td>
  </tr>
  <tr>
    <td colspan="2"><span style="background-color:greenyellow"><b>GitHub를 사용</b></span>하여 협업 개발</td>
  </tr>
  <tr>
    <th rowspan="2">프로젝트를 임하는 자세</th>
    <td colspan="2">
      <span style="background-color:greenyellow"><b>재사용성이 높은 코드 작성</b></span>으로 작업의 효율을 더 높게!
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <span style="background-color:greenyellow"><b>커뮤니케이션 능력</b></span>을 향상!
    </td>
  </tr>
</table>
</body>
</html>