<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>김중호 </title>
    <link  href="style.css?after" rel="stylesheet" href="/css/resume-image.css">
</head>
<body>
<div class="content" style="background-color: darkgray;">
    <b class>
    <h1>김중호 이력서 예제</h1>
        </b>
</div>
    <p class="text-h4"> kim jung ho</p>

        <li>백엔드개발자를 목표로 학습중</li>

    </div>



    <section>
        <h2><b>학습내용</b></h2>
        <ul class>
            <li>JAVA</li>
            <li>HTML/CSS</li>
        </ul>
    </section>

    <section>
        <h2><b>소개</b></h2>
        <ul>
            <li>열심히 하겠습니다.</li>

        </ul>
    </section>


</body>
</html>