<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>한채선:: 포트폴리오</title>
    <link rel="stylesheet" href="/css/resume-style.css">
</head>
<body>
<table>
    <caption>
        <H2>민첩한(Agile) 개발자, 한채선입니다!</H2>
        <p>단순한 구현에 그치지 않고, 변화에 쉽게 대응 가능하고 오래 활용하여 사용될 수 있는 코드를 짜기 위해 고민하는 것이야말로<br>
            좋은 개발자가 되기 위한 첫 걸음이라고 생각합니다.</p>
    </caption>
    <tr>
        <th>생년월일</th>
        <th>최종학력</th>
        <th>학교</th>
        <th>기타 필요한 인적사항</th>
    </tr>
    <tr>
        <th colspan="2"> <a href="https://github.com/hanchaeseon" target="_blank">
            <img src="/img/github_logo.png">
        </a></th>
        <th colspan="2"><a href="https://velog.io/@marryjane7474" target="_blank">
            <img src="/img/velog_logo2.png"></th>
    </tr>
    <tr>
        <th>기술 스택</th>
        <td colspan="3"><b>Java</b>, Html, Css, Spring boot</td>
    </tr>
    <tr>
        <th>교육 수료</th>
        <td colspan="3"><b>KH정보교육원 강남지점 빅데이터 플랫폼을 활용한 개발자 양성과정 2022.05.16 ~ (수료 날짜)</b><br>
        애자일 프로세스를 활용하여 사용자 스토리에 기반한 개발 방식을 학습, 이를 토대로 함께 학습하는 교육생들과 협업하여 팀 프로젝트를 진행.</td>
    </tr>
</table>

</body>
</html>