<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table, th, td{
            border: 1px solid #ccc;
        }
        td {
            padding: 10px;
        }
    </style>
</head>
<body>
    <table>
        <caption>
          <b>요즘 이력서 작성법</b>
          <p>좋은 회사는 실력만 본다!!</p>
        </caption>
        <tr>
          <th>어떻게 강조할 것인가</th>
          <td>자소설 x!</td>
        </tr>
        <tr>
          <td colspan="2">
            내가 어떤 일을 할 수 있는가, 기술을 가지고 있는지, 어떤 프로세스를 통해 일을 해봤는지?
          </td>
        </tr>
        <tr>
          <td colspan="2">자신의 기술과 활용 결과를 정리하여 작성하기.</td>
        </tr>
    </table>

</body>
</html>