<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table, th, td{
            border: 1px solid #ccc;
        }
        th, td {
            padding: 10px;
        }

    </style>
</head>
<body>

<!--
table: 표, tr: table row(행), td(열), th(열- 제목 및 헤더 역할)
<th> 는 글씨가 진하게/가운데 정렬, <td>는 글씨 일반 굵기/ 정렬안되어 있음 로 출력됨
 -->
    <table>

        <caption>
            <b> 데이터 중심 OOP설계 가능한 JAVA 백엔드개발자 </b>
            <p></p>
        </caption>

        <tr>
            <th> 사용가능 기술 </th>
            <td> Java, SpringBoot, Python, JavaScript, Vue, JPA </td>

        </tr>

        <tr>
            <td colspan="2">
                <ol>
                    <li>JAVA(Spring Boot)를 활용한 웹서비스 개발 경험</li>
                    <li>변경에 유연한 애자일 프로세스를 도입하여 JAVA 개발 학습 진행 중 </li>
                    <li>Vue.js를 활용한 프론트엔드 개발 경험(HTML, CSS, JavaScript) </li>
                    <li>빅데이터 분석 및 시스템을 위한 Python 언어 경험 보유 </li>
                </ol>
            </td> <!-- 내가 어떤 일들을 할 수 있는지, 어떤 기술을 가지고 있는지, 어떤 프로세스를 통해 일을 해봤는 지 경험담이 중요함 -->
        </tr>

        <tr>
            <th>프로젝트 경험</th>
            <td colspan="3"> OOO 시스템 프로젝트 개발 수행 </td>
        </tr>

        <tr>
            <th>프로젝트 내용</th>
            <td colspan="3"> OOO 시스템은 xxx 서비스를 제공하는 시스템으로, xxx 기능과 xxx 기능을 가진 시스템 </td>
        </tr>

        <tr>
            <th>프로젝트 담당 역할</th>
            <td colspan="3">
                <ul>
                    <li>OO를 관리하는 A 관리시스템 개발 (사용 기술)</li>
                    <li>XX 정보를 활용한 B 게시판 시스템 개발 (사용 기술)</li>
                    <li>OO정보를 받아 관리하고 등록할 수 있는 기능 개발(사용 기술)</li>
                </ul>

            </td>
        </tr>

    </table>
</body>
</html>

<!-- /resume URL을 던져서 위의 형식으로 자신의 포트폴리오를 기록해보자!(미완성이어도 상관없음) -->
<!-- 애자일프로세스 학습중 - 폭포수 모델에 비해 변경이 유연한 프로세스 학습중
애자일 프로세스 기반으로 OOP 설계 가능한 JAVA 백엔드개발자
어떤 공부를 하고 있는 지,
프로젝트에 어떻게 임할 생각인 지
-->