<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/resume-style.css">
</head>
<body>
    <table>
        <caption>
            <b>이력서 작성 연습</b>
        </caption>
        <tr>
            <th>이름</th>
            <td>O O O</td>
            <th>나이</th>
            <td>00</td>
        </tr>
        <tr>
            <th colspan="4">공부 방식</th>
        </tr>
        <tr>
            <td colspan="4">유저스토리 기반 애자일 보드 작성 연습</td>
        </tr>
    </table>
</body>
</html>