<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table, th, td {
            border: 1px solid #ccc;
        }

        td {
            padding: 10px;
        }
    </style>
</head>
<body>
<table>
    <caption>
        <h2>꾸준히 성장하고 싶은 주니어 개발자, 윤희지입니다.</h2>
    </caption>
    <tr>
        <td colspan="2"><b>About Me</b></td>
    </tr>
    <tr>
        <td colspan="2">
            <ul>
                <li>개발이 현실의 불편함을 개선시키는 멋진 해결책이 될 수 있다고 느낀 작은 경험들</li>
                <li>일을 할 때 더 나은 방법을 고민하는 성향, 새롭게 배우는 걸 좋아하는 성향</li>
                <li>크게 두 가지 이유로 개발자가 되어보기로 결심하게 되었습니다.</li>
            </ul>
    </tr>
    <tr>
        <td colspan="2"><b>Skills</b></td>
    </tr>
    <tr>
        <td colspan="2">
            <ul>
                <li>Java: 배열, 조건문, 반복문, 클래스, collection 객체를 활용해 간단한 게임을 만들 수 있습니다.</li>
                <li>Spring: RestController, GetMapping을 활용해 웹에서 특정 URL 입력으로 요청한 데이터를 보여줄 수 있습니다.</li>
                <li>Git: github에 프로젝트를 커밋, 푸쉬할 수 있습니다.</li>
                <li>IDE로 IntelliJ를 사용하고 있습니다.</li>
            </ul>
    </tr>
    <tr>
        <td colspan="2"><b>Study</b></td>
    </tr>
    <tr>
        <td colspan="2">
            <ul>
                <li>현재 국비학원의 Java 웹개발 과정을 수강하고 있습니다.</li>
                <li>공부한 내용을 기록하기 위해 개발블로그를 운영하고 있습니다.</li>
                <li>수업 과제를 해결하며 재사용성, 확장성, 유지보수성을 고려한 코딩의 중요성을 느꼈습니다.</li>
                <li>수업을 통해 애자일 보드를 활용한 프로젝트 진행 방식을 체험하고 장단점이 무엇인지 느꼈습니다.</li>
            </ul>
    </tr>
    <tr>
        <td colspan="2"><b>Projects</b></td>
    </tr>
    <tr>
        <td colspan="2">
            <ul>
                <li>팀프로젝트 예정</li>
            </ul>
    </tr>

</table>

</body>
</html>